@theme "/usr/share/rofi/themes/android_notification.rasi"

* {
    font: "JetBrainsMonoNL Nerd Font 9";
}

window {
    width: 900px;
}

element {
    padding: 4px;
    orientation: horizontal;
    border-radius: 6px;
}

element-icon {
    padding: 0 4px 0 0;
    size: 3.2em;
    vertical-align: 0.5;
}

element-text {
    vertical-align: 0.5;
}

element selected {
    background: #89b4fa;
    foreground: #1e1e2e;
    text-color: #1e1e2e;
}

element selected element-icon {
    color: #1e1e2e;
}

listview {
    padding: 4px;
    spacing: 4px;
    dynamic: true;
    columns: 4;
    layout: horizontal;
}

mainbox {
    padding: 6px;
    spacing: 4px;
}

message {
    background: transparent;
    font: "JetBrainsMonoNL Nerd Font 8";
    padding: 2px 8px;
    text-color: #a6adc8;
}

inputbar {
    padding: 4px;
}
